<table>
  <tr>
    <td><a routerLink="/app-with-modal">Navigate to modal component</a></td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td><a routerLink="/app-without-modal">Navigate away from modal component</a></td>
  </tr>
</table>
<div>
  <hr width="95%">
  <router-outlet></router-outlet>
  <hr width="95%">
</div>
<div>
  <h3>Instructions</h3>
  <p>To reproduce the backdrop issue, just do the following:</p>
  <ol>
    <li>Navigate to modal component using the above link</li>
    <li>Open and close the modal</li>
    <li>Navigate away from the modal component using the above link</li>
    <li>Navigate to modal component again using the above link</li>
    <li>Open and close the modal</li>
  </ol>
  <p>After you have performed Step 5, the backdrop should now be visible even though you've closed the modal.</p>
</div>
<div>
  <h3>Discussion</h3>
  <p>If you take a look at <b>example-modal.component.ts</b>, you will see that it subscribes to an Observable
  returned by an Angular service but doesn't unsubscribe from it at all.  This is the source of the problem.
  If you uncomment the body of the <i>onDestroy</i> method, and then run the demo again, you will see that
  the backdrop problem disappears.  An easy fix is for us developers to unsubscribe from our Observables
  in components that make use of the ngx bootstrap control.</p>
</div>
<div>
  <h3>Acknowledgments</h3>
  <p>I just want to acknowledge the work of my team mate, Michael Clair, in figuring out this problem
  -- he's the one who identified the source of the issue and deserves credit for it.</p>
</div>
